@font-face { font-family: Lato; src: url('Lato-Light.ttf'); } 

body {
	width: 100%;
	margin: auto;
	background-color: #353638;
}

.container {
	width: auto;
	margin: 0 auto;
}

.header {
	background: #4C5C68;
	width: 100%;
	top: 0;
	position: fixed;
}

.logo {
	float: left;
	font-family: "Lato";
	font-size: 12px;
	padding-left: 15px;
}

.nav {
	float: right;
	font-family: "Lato";
	font-size:14px;
	padding-right: 15px;
}
.content {
	width: 500px;
	margin: 0 auto;
	margin-bottom: 25px;
	font-family: "Lato";
	font-size:18px;
	color: #DCDCDD;
	text-align: center;
}


.circular {
	width: 450px;
	height: 450px; 
	border-radius: 150px;
	-webkit-border-radius: 300px;
	-moz-border-radius: 200px;
	background: url(Myles.jpg) no-repeat;
	display: block;
    margin: 0 auto;
    margin-top: 140px;
    margin-bottom: 50px;
	}

.line-separator{
	height:1px;
	width:700px;
	margin: 0 auto;
	margin-bottom:25px;
	background:#4C5C68;
	border-bottom:1px rgba(255,255,255,1);
}

.table {
	display: table;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: #C5C3C6;
}

li {
	list-style: none;
	float: left;
	margin-left: 15px;
	padding-top: 10px;
}
